 <h1>Mbali's Pizza Palace</h1>
 <form action="/orderList" method="get" class="order-list">
   <button type="submit" id="order-list">Orders</button>
 </form>
<section class="text">
  <div class="pizza-section">
    <section class="order">
      <p class="heading">What's in your bag?</p>
      <p>Small X {{smallQuantity}} - R{{smallPrice}}</p>
      <p>Medium X {{medQuantity}} - R{{medPrice}}</p>
      <p>Large X {{largeQuantity}} - R{{largePrice}}</p>
      <p id="total">Order Total: R{{totalCost}}</p>
      <form action="/orders" method="post">
        <button type="submit" name="order" value="Order" id="order">Make Order</button>
      </form>
    </section>
    <section class="pizzaSizes">
      <div id="small" class="card">
        <div class="header-text">
          <h3>Small</h3>
          <img src="../images/pizza.png" alt="Small Pizza">
          <p class="price">R30.99</p>
        </div>
        <p class="description">Lorem ipsum dolor sit amet, incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit pellentesque habitant morbi. Magna ac placerat vestibulum lectus mauris ultrices eros.</p>
        <form action="/main" method="post" class="buy">
          <button type="submit" name="size" value="Small">Buy</button>
        </form>
      </div>
      <div id="medium" class="card">
        <div class="header-text">
          <h3>Medium</h3>
          <img src="../images/pizza.png" alt="Medium Pizza">
          <p class="price">R45.99</p>
        </div>
        <p class="description">Lorem ipsum dolor sit amet. Consectetur adipiscing elit pellentesque habitant morbi. Magna ac placerat vestibulum lectus mauris ultrices eros.</p>
        <form action="/main" method="post" class="buy">
          <button type="submit" name="size" value="Medium">Buy</button>
        </form>
      </div>
      <div id="large" class="card">
        <div class="header-text">
          <h3>Large</h3>
          <img src="../images/pizza.png" alt="Large Pizza">
          <p class="price">R45.99</p>
        </div>
        <p class="description">Lorem ipsum dolor sit amet. Consectetur adipiscing elit pellentesque habitant morbi. Magna ac placerat vestibulum lectus mauris ultrices eros.</p>
        <form action="/main" method="post" class="buy">
          <button type="submit" name="size" value="Large">Buy</button>
        </form>
      </div>
    </section>
  </div>
</section>
<footer>
  <section class="address">
    <h3>Find Us At</h3>
    <p>45 6th Avenue</p>
    <p>Newcastle</p>
    <p>2940</p>
  </section>
  <section class="contact-details">
    <h3>Reach Us On</h3>
    <p>Phone Number - 034 256 6764</p>
    <p>Email - info@mbalispizza.co.za</p>
  </section>
  <section class="social-media">
    <h3>We are also on the socials</h3>
    <p>Twitter: @mbalispizza</p>
    <p>Facebook: Mbali's Pizza</p>
    <p>Instagram: @mbalispizza</p>
  </section>
</footer>
